body{
    font-family: Arial, Helvetica, sans-serif;
}

#printBody{
    display: none;
}

@media print {
    body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    form {
        display: none;
    }
    #printBody{
        display: block;
    }
    .printBody{
        padding: 30px;
        border: 1px solid #000;
    }
    .printText{
        font-weight: bold;
        padding: 0 15px;
        text-decoration: underline;
    }
    .u{
        text-decoration: underline;
    }
}
